<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Organization Registration</title>
</head>
<body>
<div>
	<div th:insert="layout/layout::org-register-header"></div>
	
	<section>
		<form method="POST" action="./registerProc">
			<table>
			<tbody>
				<tr>
					<th>기관타입</th>
					<td><input type="text" name="orgType" /></td>
				</tr>
				<tr>
					<th>업권</th>
					<td><input type="text" name="orgClass" /></td>
				</tr>
				<tr>
					<th>기관코드</th>
					<td><input type="text" name="orgCode" /></td>
				</tr>
				<tr>
					<th>기관명</th>
					<td><input type="text" name="orgName" /></td>
				</tr>
				<tr>
					<th>사업자등록번호</th>
					<td><input type="text" name="busiNum" /></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td><input type="text" name="tel" /></td>
				</tr>
				<tr>
					<th>주소</th>
					<td><input type="text" name="addr" /></td>
				</tr>
				<tr>
					<th>대표자</th>
					<td><input type="text" name="representative" /></td>
				</tr>
			</tbody>
			</table>
			
			<div><button type="submit">등록</button></div>
		</form>
	</section>
	
	<div th:insert="layout/layout::footer"></div>
</div>
</body>
</html>