<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration Result</title>
</head>
<body>
<h1>Registration Result</h1>

<table>
<tbody>
	<tr>
		<th>기관타입</th>
		<td th:text="${org.orgType}"></td>
	</tr>
	<tr>
		<th>업권</th>
		<td th:text="${org.orgClass}"></td>
	</tr>
	<tr>
		<th>기관코드</th>
		<td th:text="${org.orgCode}"></td>
	</tr>
	<tr>
		<th>기관명</th>
		<td th:text="${org.orgName}"></td>
	</tr>
	<tr>
		<th>사업자등록번호</th>
		<td th:text="${org.busiNum}"></td>
	</tr>
	<tr>
		<th>전화번호</th>
		<td th:text="${org.tel}"></td>
	</tr>
	<tr>
		<th>주소</th>
		<td th:text="${org.addr}"></td>
	</tr>
	<tr>
		<th>대표자</th>
		<td th:text="${org.representative}"></td>
	</tr>
</tbody>
</table>
</body>
</html>